### extracting features of 2018 movies from wikipedia

In [67]:
link='https://en.wikipedia.org/wiki/List_of_American_films_of_2018'

In [68]:
import pandas as pd
import numpy as np

In [69]:
df=pd.read_html(link,header=0)[0]
df.head()

                              American filmsby year
0                                             1890s
1  1890 1891 1892 1893 18941895 1896 1897 1898 1899
2                                             1900s
3  1900 1901 1902 1903 19041905 1906 1907 1908 1909
4                                             1910s

In [70]:
df=pd.read_html(link,header=0)[1]
df.head()

   Rank                             Title Distributor Domestic gross
0     1                 Avengers: Endgame      Disney   $858,373,000
1     2                     The Lion King      Disney   $543,638,043
2     3  Star Wars: The Rise of Skywalker      Disney   $515,202,542
3     4                         Frozen II      Disney   $477,373,578
4     5                       Toy Story 4      Disney   $434,038,008

In [71]:
df1=pd.read_html(link,header=0)[2]
df2=pd.read_html(link,header=0)[3]
df3=pd.read_html(link,header=0)[4]
df4=pd.read_html(link,header=0)[5]

In [6]:
df1.shape

(74, 6)

In [7]:
df=df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_17472\3617246550.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [8]:
df.shape

(273, 7)

In [9]:
df.columns

Index(['Opening', 'Opening.1', 'Title', 'Production company', 'Cast and crew',
       '.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.',
       'Ref.'],
      dtype='object')

In [10]:
df=df.drop(['.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.',
       'Ref.','Opening','Opening.1','Production company'],axis=1)

In [11]:
df=df.rename(columns={'Title':'movie_title'})

In [12]:
df['movie_title']=df['movie_title'].str.lower()

In [13]:
df.head()

               movie_title                                      Cast and crew
0  insidious: the last key  Adam Robitel (director); Leigh Whannell (scree...
1         the strange ones  Lauren Wolkstein (director); Christopher Radcl...
2                 stratton  Simon West (director); Duncan Falconer, Warren...
3            sweet country  Warwick Thornton (director); David Tranter, St...
4             the commuter  Jaume Collet-Serra (director); Byron Willinger...

In [14]:
df['director_name']=df['Cast and crew'].str.split('(',expand=True)[0]

In [21]:
df.head()

,movie_title,Cast and crew,director_name
0,insidious: the last key,Adam Robitel (director); Leigh Whannell (scree...,Adam Robitel
1,the strange ones,Lauren Wolkstein (director); Christopher Radcl...,Lauren Wolkstein
2,stratton,"Simon West (director); Duncan Falconer, Warren...",Simon West
3,sweet country,"Warwick Thornton (director); David Tranter, St...",Warwick Thornton
4,the commuter,Jaume Collet-Serra (director); Byron Willinger...,Jaume Collet-Serra

In [16]:
df['Cast and crew'][268]

'Etan Cohen (director/screenplay); Will Ferrell, John C. Reilly, Rebecca Hall, Ralph Fiennes, Rob Brydon, Kelly Macdonald, Steve Coogan, Lauren Lapkus, Pam Ferris, Hugh Laurie'

In [25]:
df['Cast and crew'][1]

'Lauren Wolkstein (director); Christopher Radcliff (co-director/screenplay); Alex Pettyfer, James Freedson-Jackson, Emily Althaus, Gene Jones, Owen Campbell, Tobias Campbell'

In [34]:
df['actor_1_name']=df['Cast and crew'].str.split(',',expand=True)[2]
df['actor_2_name']=df['Cast and crew'].str.split(',',expand=True)[3]
df['actor_3_name']=df['Cast and crew'].str.split(',',expand=True)[4]

In [39]:
df=df.drop('Cast and crew',axis=1)

In [40]:
df

,movie_title,director_name,actor_1_name,actor_2_name,actor_3_name
0,insidious: the last key,Adam Robitel,Leigh Whannell,Spencer Locke,Caitlin Gerard
1,the strange ones,Lauren Wolkstein,Emily Althaus,Gene Jones,Owen Campbell
2,stratton,Simon West,Austin Stowell,Gemma Chan,Thomas Kretschmann
3,sweet country,Warwick Thornton,Sam Neill,None,None
4,the commuter,Jaume Collet-Serra,Vera Farmiga,Patrick Wilson,Jonathan Banks
...,...,...,...,...,...
268,holmes & watson,Etan Cohen,Rebecca Hall,Ralph Fiennes,Rob Brydon
269,vice,Adam McKay,Steve Carell,Sam Rockwell,Tyler Perry
270,on the basis of sex,Mimi Leder,Justin Theroux,Jack Reynor,Cailee Spaeny
271,destroyer,Karyn Kusama,Sebastian Stan,Toby Kebbell,Tatiana Maslany
272,black mirror: bandersnatch,David Slade,Asim Chaudhry,Craig Parkinson,Alice Lowe

In [41]:
#genres
#as it is observed in above table, we do not have genre colum
#so we will get genre data from imdb
#you will need to create an api key in order to access the api key.

In [42]:
pip install tmdbv3api

Requirement already satisfied: tmdbv3api in c:\users\hp\anaconda3\lib\site-packages (1.7.7)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: requests in c:\users\hp\anaconda3\lib\site-packages (from tmdbv3api) (2.27.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests->tmdbv3api) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from requests->tmdbv3api) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests->tmdbv3api) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests->tmdbv3api) (2021.10.8)

In [43]:
#username=abhishekhaikerwal
#pass=@Haikerwal1234
#get your api key here: 'https://www.themoviedb.org/settings/api'
from tmdbv3api import TMDb
import json
import requests
tmdb=TMDb()
tmdb.api_key='e770358dbe349592b1fba6cb607230fb'
#api key=e770358dbe349592b1fba6cb607230fb
#read access token=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJlNzcwMzU4ZGJlMzQ5NTkyYjFmYmE2Y2I2MDcyMzBmYiIsInN1YiI6IjYzNjM5MmIzODI4OWEwMDA3OTVhMWVkZCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ._whYoStzj2dcZ59fLS-yF37T4fUax6oWYbXcTXMLgLw

In [44]:
from tmdbv3api import Movie
tmdb_movie=Movie()
def get_genre(x): #passing title of the movie
    genres=[]
    result=tmdb_movie.search(x)#the title will be searched
    movie_id=result[0].id #we will match the id with the title
    #we will get the result from imdb data
    response=requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
    data_json=response.json() #we will convert to a json file
    if data_json['genres']: #in json file we will only to extract genre
        genre_str=' '
        for i in range(0,len(data_json['genres'])):
            genres.append(data_json['genres'][i]['name'])
        return genre_str.join(genres)
    else:
        np.NaN

In [45]:
df['genres']=df['movie_title'].map(lambda x:get_genre(str(x)))

In [47]:
df.fillna('Unknown',inplace=True)

In [48]:
df['comb']=df['actor_1_name']+' '+df['actor_2_name']+' '+df['actor_3_name']+' '+df['director_name']+' '+df['genres']

In [50]:
df.isna().sum()

movie_title      0
director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
comb             0
dtype: int64

In [51]:
df=df[['movie_title','genres','director_name','actor_1_name','actor_2_name','actor_3_name','comb']]

In [53]:
new_data=df.copy()

In [54]:
new_data

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,comb
0,insidious: the last key,Horror Mystery Thriller,Adam Robitel,Leigh Whannell,Spencer Locke,Caitlin Gerard,Leigh Whannell Spencer Locke Caitlin Gerard...
1,the strange ones,Thriller Drama,Lauren Wolkstein,Emily Althaus,Gene Jones,Owen Campbell,Emily Althaus Gene Jones Owen Campbell Laur...
2,stratton,Action Thriller,Simon West,Austin Stowell,Gemma Chan,Thomas Kretschmann,Austin Stowell Gemma Chan Thomas Kretschman...
3,sweet country,Drama History Western,Warwick Thornton,Sam Neill,Unknown,Unknown,Sam Neill Unknown Unknown Warwick Thornton D...
4,the commuter,Action Thriller Mystery,Jaume Collet-Serra,Vera Farmiga,Patrick Wilson,Jonathan Banks,Vera Farmiga Patrick Wilson Jonathan Banks ...
...,...,...,...,...,...,...,...
268,holmes & watson,Mystery Adventure Comedy Crime,Etan Cohen,Rebecca Hall,Ralph Fiennes,Rob Brydon,Rebecca Hall Ralph Fiennes Rob Brydon Etan ...
269,vice,Thriller Science Fiction Action Adventure,Adam McKay,Steve Carell,Sam Rockwell,Tyler Perry,Steve Carell Sam Rockwell Tyler Perry Adam ...
270,on the basis of sex,Drama History,Mimi Leder,Justin Theroux,Jack Reynor,Cailee Spaeny,Justin Theroux Jack Reynor Cailee Spaeny Mi...
271,destroyer,Thriller Crime Drama Action,Karyn Kusama,Sebastian Stan,Toby Kebbell,Tatiana Maslany,Sebastian Stan Toby Kebbell Tatiana Maslany...
272,black mirror: bandersnatch,Science Fiction Mystery Drama Thriller TV Movie,David Slade,Asim Chaudhry,Craig Parkinson,Alice Lowe,Asim Chaudhry Craig Parkinson Alice Lowe Da...

In [55]:
data=pd.read_csv('movie_data.csv')

In [59]:
data.drop('Unnamed: 0',axis=1,inplace=True,)

In [62]:
data=data.append(new_data,ignore_index=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_17472\1727989639.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data.append(new_data,ignore_index=True)

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,comb
0,pirates of the caribbean: dead men tell no tales,Adventure Action Fantasy Comedy,Joachim Rønning,Johnny Depp,Javier Bardem,Geoffrey Rush,Johnny Depp Javier Bardem Geoffrey Rush Joachi...
1,justice league,Action Adventure Fantasy Sci-Fi,Zack Snyder,Ben Affleck,Henry Cavill,Gal Gadot,Ben Affleck Henry Cavill Gal Gadot Zack Snyder...
2,thor: ragnarok,Action Adventure Fantasy Sci-Fi,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Chris Hemsworth Tom Hiddleston Cate Blanchett ...
3,guardians of the galaxy vol. 2,Action Adventure Comedy Sci-Fi,James Gunn,Chris Pratt,Zoe Saldana,Dave Bautista,Chris Pratt Zoe Saldana Dave Bautista James Gu...
4,the king's daughter,Fantasy Action Adventure,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker,Pierce Brosnan William Hurt Benjamin Walker Se...
...,...,...,...,...,...,...,...
5632,holmes & watson,Mystery Adventure Comedy Crime,Etan Cohen,Rebecca Hall,Ralph Fiennes,Rob Brydon,Rebecca Hall Ralph Fiennes Rob Brydon Etan ...
5633,vice,Thriller Science Fiction Action Adventure,Adam McKay,Steve Carell,Sam Rockwell,Tyler Perry,Steve Carell Sam Rockwell Tyler Perry Adam ...
5634,on the basis of sex,Drama History,Mimi Leder,Justin Theroux,Jack Reynor,Cailee Spaeny,Justin Theroux Jack Reynor Cailee Spaeny Mi...
5635,destroyer,Thriller Crime Drama Action,Karyn Kusama,Sebastian Stan,Toby Kebbell,Tatiana Maslany,Sebastian Stan Toby Kebbell Tatiana Maslany...
5636,black mirror: bandersnatch,Science Fiction Mystery Drama Thriller TV Movie,David Slade,Asim Chaudhry,Craig Parkinson,Alice Lowe,Asim Chaudhry Craig Parkinson Alice Lowe Da...